$from-position-animation: 0px;

.message {
    margin: 0;
    width: 100%;
    max-width: 300px;
    padding: 0;
    border: solid transparent 2px;

    &--sendedNow {
        animation-name: entry;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
    
    
        @keyframes entry {
            0% {
                width: 100%;
            }
            1% {
                width: 0%;
            }
            100% {
                width: 100%;
            }
        }
    }

    &--notSendedNow {
        animation-name: entry;
        animation-duration: .5s;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;

        @keyframes entry {
            0% {
                transform: translateX(var(--from-position-animation));
            }
            100% {
                transform: translateX(0px);
            }
        }
    }

    &__text {
        margin: 0;
        font-size: 16px;
        padding: 5px;
        padding-bottom: 25px;
        border-radius: 8px;
        overflow: hidden;
        overflow-wrap: break-word;
        text-align: left;
        z-index: 3;
    }

    &__selectable {
        width: 100%;
        padding: 0px;
        margin: 0px;
        background-color: transparent;
        border: none;
        position: relative;
        z-index: 1;
        overflow: hidden;
        border-radius: 8px;

        .trash {
            bottom: 0;
            right: 0;
            position: absolute;
            color: white;
            transform: scale(1.1);
            background-color: rgb(133, 0, 0);
            padding: 3px;
            border-radius: 5px 0 0 5px;
            z-index: 2;
            right: -200px;
            transition: .25s;
        }
    }

    &--sendedNow {
        &__text {
            animation-name: textEntry;
            animation-duration: 1s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            
    
            @keyframes textEntry {
                0% {
                    white-space: normal;
                    text-overflow: inherit;
                }
                1% {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                25% {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                100% {
                    white-space: normal;
                    text-overflow: inherit;
                }
            }
        }
    }
}