@import "styles/variables.module.scss";


$FromPositionAnimation: 0px;

.message {
    display: grid;
    grid-template-columns: 1fr 35px;
    position: relative;
    z-index: 2;

    &__text {
        margin: 0;
        font-size: 16px;
        padding: 5px;
        padding-bottom: 25px;
        overflow: hidden;
        overflow-wrap: break-word;
        text-align: left;
        min-height: 18px;
        z-index: 3;
    }

    &__selectable {
        width: 100%;
        padding: 0px;
        margin: 0px;
        overflow: hidden;

        .notifications__details {
            width: 100%;
            padding: 5px;
            position: relative;
            z-index: 2;
            display: grid;
            align-content: center;
            grid-template-columns: auto 1fr 2fr;
            column-gap: 10px;
            border-bottom-width: 3px;
            border-bottom-style: solid;
    
            .eye {
                color: $eye--not-vizualized;
                grid-column: 1 / 2;
                height: 15px;
                width: 15px;
            }
    
            .date {
                grid-column: 2 / 3;
            }
    
            .trash {
                bottom: 0;
                position: absolute;
                color: $delete--color;
                transform: scale(1.1) translateX(-25%);
                background-color: $delete--background--color;
                padding: 3px;
                border-radius: 5px 0 0 0;
                z-index: 4;
                right: -200px;
                transition: .25s;
                grid-column: 3 / 4;
                height: 15px;
                width: 15px;
            }
        }
    }

    &--sendedNow {
        &__text {
            animation-name: textEntry;
            animation-duration: 1s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            
    
            @keyframes textEntry {
                0% {
                    white-space: normal;
                    text-overflow: inherit;
                }
                1% {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                25% {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                100% {
                    white-space: normal;
                    text-overflow: inherit;
                }
            }
        }
    }
}