.introdution {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 2rem;
    height: 100%;

    .img {

    }

    .title {
        margin: 0;
        text-align: center;

        strong {

        }
    }
}