@import "styles/variables.module.scss";

.userForm {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: flex-end;
    background-color: $chats--background--color;
    border: $chats--border--color solid 2px;
    height: max-content;

    .form {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
    }
}