.file {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: black;                                                                                                          
}