@import "styles/variables.module.scss";

.input {
    height: 35px;
    border: none;
    font-size: 16px;
    padding: 0px 5px;
    background-color: $input--background--color;
    color: $input--color;
    animation-name: entry;
    animation-duration: .9s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    &:focus {
        box-shadow: none;
        outline: none;
    }

    &:-webkit-autofill {
        transition: background-color 5000s ease-in-out 0s;
        -webkit-text-fill-color: $input--color;
    }
}

label {
    display: none;
}

@keyframes entry{
    0% {
        border-bottom: 3px solid transparent;
    }
    100% {
        border-bottom: 3px solid $input--border--color;
    }
}