.input {
    height: 35px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 0px 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    animation-name: entry;
    animation-duration: .9s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    &:focus {
        box-shadow: none;
        outline: none;
    }

    &:-webkit-autofill {
        transition: background-color 5000s ease-in-out 0s;
        -webkit-text-fill-color: #fff;
    }
}

label {
    display: none;
}

@keyframes entry{
    0% {
        border-bottom: 3px solid transparent;
    }
    100% {
        border-bottom: 3px solid rgb(133, 0, 0);
    }
}