.file {
    display: grid;
    width: 100%;
    grid-template-columns: 40% 60%;
    align-content: center;
    align-items: center;
    border: none;
    border-radius: 0px;
    padding: 5px;
    column-gap: 5px;
    cursor: pointer;

    .icon {
        &__image {
            width: 40px;
            height: 40px;
        }
        &__type {
            margin: 0;
            color: white;
            padding: 4px 7px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .name {
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}